<div class="container">
<h1 class="text-center mt-4">Sign Up</h1>
  <div class="row justify-content-center">
    <div class="col-10">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "shadow p-3 mb-3 custom-row rounded" }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form-group row">
          <%= f.label :name,  class: "col-2 col-form-label text-light" %><br />
          <div class="col-10">
          <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control shadow rounded" %>
          </div>
        </div>
        <br>
        <div class="form-group row">
          <%= f.label :email,  class: "col-2 col-form-label text-light" %><br />
          <div class="col-10">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control shadow rounded" %>
          </div>
        </div>
        <br>

        <div class="form-group row">
          <%= f.label :password,  class: "col-2 col-form-label text-light" %>
          <% if @minimum_password_length %>
          <% end %><br />
          <div class="col-10">
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control shadow rounded" %>
          </div>
        </div>
        <br>

        <div class="form-group row">
          <%= f.label :password_confirmation,  class: "col-2 col-form-label text-light" %><br />
          <div class="col-10">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control shadow rounded" %>
          </div>
        </div>
        <br>

        <div class="form-group row justify-content-center">
          <div class="col-1">
          <%= f.submit "Sign up", class: "btn btn-outline-light btn-lg" %>
          </div>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
    </div>
</div>
