<div class="container">
  <% if @project.errors.any? %>
    
    <h2>The following errors prevented the project from being saved</h2>
    <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="row justify-content-center">
    <div class="col-10">
      <%= form_with(model: @project, class: "shadow p-3 mb-3 custom-row rounded", local: true) do |f| %>
        <div class="form-group row">
          <%= f.label :name, class: "col-2 col-form-label text-light" %>
          <div class="col-10">
            <%= f.text_field :name, class: "form-control shadow rounded", placeholder: "Name of the project" %>
          </div>
        </div>
        <br>

        <div class="form-group row">
          <%= f.label :description, class: "col-2 col-form-label text-light " %>
          <div class="col-10"> 
            <%= f.rich_text_area :description, class: "form-control shadow rounded trix-content", placeholder: "Description of project" %>
          </div>
        </div>

        <br>

        <div class="form-group row">
          <%= f.label :member, class: "col-2 col-form-label text-light" %>
          <div class="col-10"> 
          <%= f.collection_select :member_ids, User.where(role: "member"), :id, :name, {prompt: " make your selection one "}, { multiple: true , class: "form-control" } %>


          </div>
        </div>
        
        <br>

        <div class="form-group row justify-content-center">
          <%= f.submit class: "btn btn-outline-light btn-lg" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
