<!DOCTYPE html>
<html>
<head>
  <title>DevTracker</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
  <%= render "layouts/navbar" %>
  <br/>

  <% if notice %>
    <div class="flash-notice-container">
      <%= notice %>
    </div>
  <% end %>

  <% if alert %>
    <div class="flash-alert-container">
      <%= alert %>
    </div>
  <% end %>

  <%= yield %>
</body>
</html>
